<h1>Your Profile</h1>
<div>
  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  {{#if user.age}}
    <p>Age: {{user.age}}</p>
  {{/if}}
  <p>Role: {{user.role}}</p>
</div>
<div class="nav-btn">
  <form action="/api/products" method="get">
    <button class="green-btn" type="submit">Products</button>
  </form>
  <form action="/logout" method="get">
    <button class="red-btn" type="submit">Logout</button>
  </form>
</div>