<h1>Login</h1>
<form id="loginForm">
  <label for="email">Email</label>
  <input id="email" required />
  <br />
  <label for="password">Password</label>
  <input id="password" type="password" required /><br />
  <input type="submit" />
</form>
<p>Still not registered? <a href="/register">Sign up here</a></p>
<script src="/js/login.js"></script>