<h1>I forgot my password</h1>
<form id="Form">
  <label for="email">Email</label>
  <input id="email" required />
  <br />
  <input type="submit" value="Recover Password" />
</form>
<a href="/">
  <button>Login</button>
</a>
<script src="/js/forgotPass.js"></script>