<h1>Login</h1>
<form id="loginForm">
  <label for="email">Email</label>
  <input id="email" required />
  <br />
  <label for="password">Password</label>
  <input id="password" type="password" required /><br />
  <p>I forgot my password
    <a href="/forgotPass">Recover it</a></p>
  <input type="submit" value="Login" />
</form>
<div>
  <a href="/api/github">
    <button>Login with Github</button>
  </a>
</div>
<p>Still not registered? <a href="/register">Sign up here</a></p>

<script src="/js/login.js"></script>