<h1>Complete the form with your data</h1>
<form id="registerForm">
  <label for="name">Name</label>
  <input id="name" required />
  <br />

  <label for="surname">Surname</label>
  <input id="surname" required />
  <br />

  <label for="email">Email</label>
  <input id="email" required />
  <br />

  <label for="age"> Age</label>
  <input id="age" type="number" min="0" required />
  <br />

  <label for="password">Password</label>
  <input id="password" type="password" required />
  <br />
  <label for="passwordCheck">Re enter your password</label>
  <input id="passwordCheck" type="password" required />
  <br />

  <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="/login">Sign in</a></p>

<script src="/js/register.js"></script>