<h1>Reset my password</h1>
<form id="Form">
  <label for="password">New Password</label>
  <input id="password" type="password" required />
  <br />
  <label for="passwordCheck">Re enter your password</label>
  <input id="passwordCheck" type="password" required />
  <br />
  <input type="submit" value="Recover Password" />
</form>
<a href="/">
  <button>Login</button>
</a>
<script src="/js/resetPass.js"></script>